#HenseiNikki .container {
  margin-top: 15px;
}
#HenseiNikki .form-group {
  padding-left: 15px;
  padding-right: 15px;
}
#HenseiNikki .hidden {
  display: none;
}
#HenseiNikki .show {
  display: flex;
}
#HenseiNikki .btn-group .btn {
  width: 100%;
  overflow: hidden;
}
#HenseiNikki ::-webkit-scrollbar {
  width: 10px;
}
#HenseiNikki .tab-container {
  padding: 15px;
}
#HenseiNikki .add-data-tab {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
#HenseiNikki .hensei-list-container {
  display: flex;
  flex: none;
}
#HenseiNikki .container-col {
  display: flex;
  flex-direction: column;
}
#HenseiNikki .tags-input-container {
  display: flex;
  align-items: center;
  padding: 5px;
}
#HenseiNikki .ships-container {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 0 0 15px;
}
#HenseiNikki .titles-container {
  display: flex;
  flex-direction: column;
}
#HenseiNikki .titles-container button{
  overflow: hidden;
}
#HenseiNikki .titles-keywords {
  padding: 0px;
}
#HenseiNikki .titles-keywords input {
  height: 100%;
  padding: 0px;
}
#HenseiNikki .titles-keywords .form-group {
  height: 100%;
  padding: 0px;
}
#HenseiNikki .details-container{
  display: flex;
  justify-content: center;
  padding: 0 0 0 25px;
}
#HenseiNikki .details-container > span{
  margin-right: 15px;
}
#HenseiNikki .tab-content {
  overflow: hidden;
}
#HenseiNikki .alv-img{
  height: 14px !important;
  width: 14px !important;
  margin-bottom: 2px !important;
  margin-top: 1px !important;
  margin-left: 0 !important;
}
