#HenseiNikki .container {
  padding-top: 
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: inherit;
}
#HenseiNikki btn-block btn btn-md btn-default{
  height: 35px;
  margin-top: 1px;
}
#HenseiNikki table td {
  overflow: hidden;
  white-space: nowrap;
}
#HenseiNikki table tr:nth-child(odd) td {
  font-size: 110%;
  padding-top: 10px;
}
#HenseiNikki table tr:nth-child(even) td {
  font-size: 80%;
  padding-top: 2px;
}
#HenseiNikki table tr td {
  padding: 0px;
  border: none;
  vertical-align: middle;
  line-height: 1.42857143;
}
#HenseiNikki panel panel-default .panel-collapse collapse .panel-body .container {
  padding-left: 0px;
  padding-right: 0px;
}
#HenseiNikki img{
  width: 450%;
  height: 70%;
}
#HenseiNikki .panel-body{
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

#HenseiNikki .col-xs-4 {
  padding: 0px;
}
#HenseiNikki　::-webkit-scrollbar {
  width: 10px;
}
