#HenseiNikki .container {
  margin-top: 15px;
}
#HenseiNikki .form-group {
  padding-left: 15px;
  padding-right: 15px;
}
#HenseiNikki .hidden {
  display: none;
}
#HenseiNikki .show {
  display: flex;
}
#HenseiNikki .btn-group .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#HenseiNikki ::-webkit-scrollbar {
  width: 10px;
}
#HenseiNikki .tab-container {
  padding: 15px;
}
#HenseiNikki .add-data-tab {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
#HenseiNikki .hensei-list-container {
  display: flex;
  flex: none;
  padding: 15px;
}
#HenseiNikki .container-col {
  display: flex;
  flex-direction: column;
}
#HenseiNikki .tags-input-container {
  display: flex;
  align-items: center;
  padding: 5px;
}
#HenseiNikki .slotitem-container {
  position: relative;
  vertical-align: bottom;
  display: flex;
  margin: -1px;
}
#HenseiNikki .slotitem-container span.show {
  display: inline !important;
}
#HenseiNikki .slotitem-container img {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: -3px;
}
#HenseiNikki .slotitem-container .slot-name {
  width: 90px;
  font-size: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#HenseiNikki .ships-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
}
#HenseiNikki .ship-item {
  display: flex;
  margin-top: 5px;
  width: 245px;
}
#HenseiNikki .ship-item .ship-detail {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}
#HenseiNikki .ship-item .ship-name {
  overflow: hidden;
  white-space: nowrap;
  width: 70px;
  font-size: 120%;
  -webkit-mask: -webkit-gradient(linear, 50% 50%, 90% 90%, from(rgba(222,187,71,1)), to(rgba(0,0,0,0.1)));
}
#HenseiNikki .ship-item .ship-type {
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask: -webkit-gradient(linear, 50% 50%, 90% 90%, from(rgba(222,187,71,1)), to(rgba(0,0,0,0.1)));
}
#HenseiNikki .ship-item .slot-detail {
  display: flex;
  flex-direction: column;
  align-content: center;
}
#HenseiNikki .titles-container {
  display: flex;
  flex-direction: column;
}
#HenseiNikki .comment-container {
  width: 50%;
  flex: 1;
  border: double gray;
  border-radius: 3px;
  padding: 2px 5px 2px 5px;
}
#HenseiNikki .details-container{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
