#HenseiNikki .container {
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: inherit;
}
#HenseiNikki btn-block btn btn-md btn-default{
  height: 35px;
  margin-top: 1px;
}
#HenseiNikki .panel {
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: transparent;
  box-shadow: none;
}

#HenseiNikki table td {
  overflow: hidden;
  white-space: nowrap;
}
#HenseiNikki table tr:nth-child(odd) td {
  font-size: 120%;
  padding-top: 12px;
}
#HenseiNikki table tr:nth-child(even) td {
  font-size: 90%;
  padding-top: 4px;
}
#HenseiNikki table tr td {
  padding-bottom: 0px;
  border: none;
  vertical-align: middle;
  line-height: 1.42857143;
}
