#HenseiNikki .hidden {
  display: none; }
#HenseiNikki ::-webkit-scrollbar {
  width: 10px; }
#HenseiNikki #henseinikki-add-dropdown {
  display: block;
  position: absolute;
  margin-top: 7px; }
#HenseiNikki .opts .back {
  margin: 10px; }
#HenseiNikki .opts .sub-opts {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  margin-bottom: 0; }
#HenseiNikki .data-opts {
  width: 90%;
  margin-left: 20px;
  margin-top: -3px; }
#HenseiNikki .import-module {
  display: block;
  padding: 15px; }
#HenseiNikki .container-col {
  display: flex;
  flex-direction: column; }
#HenseiNikki .hensei-list {
  display: flex;
  flex: none; }
  #HenseiNikki .hensei-list .ships-container {
    display: flex;
    flex-flow: row wrap;
    padding-top: 10px; }
    #HenseiNikki .hensei-list .ships-container .details-container {
      display: flex;
      justify-content: center;
      padding: 0 0 0 25px; }
      #HenseiNikki .hensei-list .ships-container .details-container > span {
        margin-right: 15px; }
    #HenseiNikki .hensei-list .ships-container .alv-img {
      height: 14px !important;
      width: 14px !important;
      margin-bottom: 2px !important;
      margin-top: 1px !important;
      margin-left: 0 !important; }
    #HenseiNikki .hensei-list .ships-container .img-svg {
      width: 20px;
      height: 20px; }
  #HenseiNikki .hensei-list .title-list {
    flex: 0 1;
    max-width: 80px;
    min-width: 50px;
    margin-top: 30px; }
    #HenseiNikki .hensei-list .title-list .title-keywords {
      flex: 1;
      padding: 0; }
      #HenseiNikki .hensei-list .title-list .title-keywords input, #HenseiNikki .hensei-list .title-list .title-keywords .form-group {
        height: 100%;
        padding: 0; }
    #HenseiNikki .hensei-list .title-list .titles-container {
      display: flex;
      flex-direction: column; }
      #HenseiNikki .hensei-list .title-list .titles-container button {
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        white-space: nowrap;
        margin: 0; }
      #HenseiNikki .hensei-list .title-list .titles-container #titles {
        padding: 7px; }
        #HenseiNikki .hensei-list .title-list .titles-container #titles .tag {
          display: inline-block;
          margin: 5px;
          font-size: 14px; }
      #HenseiNikki .hensei-list .title-list .titles-container .details-container {
        display: flex;
        justify-content: center;
        padding: 0 0 0 25px; }
        #HenseiNikki .hensei-list .title-list .titles-container .details-container > span {
          margin-right: 15px; }
  #HenseiNikki .hensei-list .title-editor {
    margin-top: 10px;
    margin-bottom: 0; }
    #HenseiNikki .hensei-list .title-editor .form-control {
      margin: 10px; }
      #HenseiNikki .hensei-list .title-editor .form-control button {
        height: 50%;
        width: 50%;
        margin: 10px; }
#HenseiNikki .fleets-container {
  margin: 10px; }
  #HenseiNikki .fleets-container .panel-body {
    padding: 10px 0; }
#HenseiNikki .data-export-module, #HenseiNikki .data-edit-module, #HenseiNikki .data-preview-module {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; }
#HenseiNikki .data-export-module {
  padding-top: 50px; }
  #HenseiNikki .data-export-module .exit-btn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0; }
#HenseiNikki .data-edit-module textarea {
  height: 300px; }
#HenseiNikki .data-preview-module textarea {
  height: 300px; }
#HenseiNikki .data-preview-module .btn-row {
  display: flex;
  justify-content: space-around; }
  #HenseiNikki .data-preview-module .btn-row button {
    width: 40%; }
#HenseiNikki .data-preview-module .fleets-checkzone {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center; }
  #HenseiNikki .data-preview-module .fleets-checkzone .checkbox {
    display: inline-block;
    margin: 10px 0; }
#HenseiNikki #hensei-list-tabs {
  box-sizing: border-box;
  padding: 10px; }
  #HenseiNikki #hensei-list-tabs .fleets-container {
    margin: 0; }

#hensei-nikki-details-recon .recon-title {
  font-weight: bold;
  text-align: left; }
#hensei-nikki-details-recon .recon-entry {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 160px; }

/*# sourceMappingURL=hensei-nikki.css.map */
