#HenseiNikki .container {
  margin-top: 15px;
}
#HenseiNikki .form-group {
  padding-left: 15px;
  padding-right: 15px;
}
#HenseiNikki .hidden {
  display: none;
}
#HenseiNikki .show {
  display: flex;
}
#HenseiNikki .btn-group .btn {
  width: 100%;
  overflow: hidden;
}
#HenseiNikki ::-webkit-scrollbar {
  width: 10px;
}
#HenseiNikki .tab-container {
  padding: 15px;
}
#HenseiNikki .add-data-tab {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
#HenseiNikki .hensei-list-container {
  display: flex;
  flex: none;
}
#HenseiNikki .container-col {
  display: flex;
  flex-direction: column;
}
#HenseiNikki .tags-input-container {
  display: flex;
  align-items: center;
  padding: 5px;
}
#HenseiNikki .slotitem-container {
  position: relative;
  vertical-align: bottom;
  display: flex;
  margin: 0;
  max-height: 24px;
}
#HenseiNikki .slotitem-container > span {
  display: flex;
  flex-flow: row nowrap;
}
#HenseiNikki .slotitem-container img {
  width: 24px;
  height: 24px;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: -3px;
  flex: none;
}
#HenseiNikki .slotitem-container .slot-name {
  font-size: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#HenseiNikki .slotitem-container .slot-improvment {
  display: flex;
  flex-flow: row nowrap;
  flex: none;
}
#HenseiNikki .ships-container {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 0 0 15px;
}
#HenseiNikki .ship-item {
  display: flex;
  margin: 5px 0 0 10px;
  min-width: 200px;
}
#HenseiNikki .ship-item .ship-detail {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}
#HenseiNikki .ship-item .ship-name {
  overflow: hidden;
  white-space: nowrap;
  width: 70px;
  font-size: 120%;
  -webkit-mask: -webkit-gradient(linear, 50% 50%, 90% 90%, from(rgba(255,255,255,1)), to(rgba(0,0,0,0.01)));
}
#HenseiNikki .ship-item .ship-type {
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask: -webkit-gradient(linear, 50% 50%, 90% 90%, from(rgba(222,187,71,1)), to(rgba(0,0,0,0.01)));
}
#HenseiNikki .ship-item .slot-detail {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
}
#HenseiNikki .titles-container {
  display: flex;
  flex-direction: column;
}
#HenseiNikki .titles-container button{
  overflow: hidden;
}
#HenseiNikki .titles-keywords {
  padding: 0px;
}
#HenseiNikki .titles-keywords input {
  height: 100%;
  padding: 0px;
}
#HenseiNikki .titles-keywords .form-group {
  height: 100%;
  padding: 0px;
}
#HenseiNikki .details-container{
  display: flex;
  justify-content: flex-start;
  padding: 0 0 0 25px;
}
#HenseiNikki .details-container > span{
  margin-right: 15px;
}

@media screen and (max-width: 1366px) {
    .ship-item {
        width: 100%;
    }
}

@media screen and (max-width: 1550px) and (min-width: 1366px) {
    .ship-item {
        width: 45%;
    }
}

@media screen and (min-width: 1550px) {
    .ship-item {
        width: 30%;
    }
}
