@import "ship-item";
#HenseiNikki {
  position: relative;
  padding: 1em;
  .hensei-list {
    .ships-container {
      display: flex;
      flex-flow: row wrap;
      padding-top: 10px;
      .details-container {
        justify-content: center;
        padding: 0 0 0 25px;
        > span {
          margin-right: 15px;
        }
      }
    }
  }
}
#hensei-nikki-details-recon {
  .recon-title {
    font-weight: bold;
    text-align: left;
  }
  .recon-entry {
    display:flex;
    justify-content: space-between;
    text-align: left;
    width: 160px;
  }
}
